# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# PHP
*.log
error_log
cache/
temp/
session/

# Java/Android
*.class
*.dex
*.apk
*.iml
.gradle/
local.properties
/build/
/captures/
.externalNativeBuild/

# Database
*.sqlite
*.db

# Config (če imaš gesla)
conf/config.php
.env
